.wrapper{
    padding-top: 10%;
    height: 100px;
    width:400px;
    align-items: center;
    justify-content: center;
    padding-left:38%;
    
    
   
}
.head{
    font-size:30px;
    padding-top:20%;
    color: rgb(244, 241, 241);
}
.optionsss select options{
    padding-bottom:50%;
    justify-content: center;
    
}
.heading{
    font-size: 100px;
    text-align: center;
    color:rgb(17, 15, 2);
    text-decoration: dotted;
    background-size: cover;
    padding-top: 50%;
    font-family: cursive;

}